{% extends 'base.html.twig' %}

{% block title %}Job It - Categories{% endblock %}

{% block body %}
        <h2 class="text-center">Les Categories</h2>

    <div class="categories-list">
        {% for categorie in categories %}
            <a href="/categories/{{categorie.id}}"><img src="{{categorie.logo}}" alt="{{categorie.entreprise}}"></a>
        {% endfor %}
    </div>
{% endblock %}
