{% extends 'base.html.twig' %}

{% block title %}Job It - Categories{% endblock %}

{% block body %}
        <h2 class="text-center">Les Categories</h2>

    <div class="categories-list">
        {% for categorie in categories %}
            <a href="/constructeurs/{{constructeur.id}}"><img src="{{constructeur.logo}}" alt="{{constructeur.nom}}"></a>
        {% endfor %}
    </div>
{% endblock %}
