/* 
   Author: Pascal Berry
   Description: Master CSS file
*/

/*****************************************
Table Of Contents:

01. General Styles
0. Media Queries
******************************************/

/*****************************************
Colors:

- Background - White #FFFFFF
- Polices - Black #000000
******************************************/

/*****************************************/
/* 01. General Styles                    */
/*****************************************/

header {
   padding: 5%;
}

header .container-header {
   padding: 2%;
}

header .container-header input {
   display: block;
   margin: 0 auto;
}

/*****************************************/
/* 0. Media Queries                      */
/*****************************************/
/* Tablet 768px **************************/
@media (min-width: 768px) {
   header .container-header {
      display: flex;
   }
}

/* Laptop 1024px *************************/
@media (min-width: 1024px) {

}

/* Laptop L 1440px ***********************/
@media (min-width: 1440px) {

}