/* 
   Author: Pascal Berry
   Description: Master CSS file
*/

/*****************************************
Table Of Contents:

01. General Styles
02. Accueil
0. Media Queries
******************************************/

/*****************************************
Colors:

- Background - White #FFFFFF
- Polices - Black #000000
******************************************/

/*****************************************/
/* 01. General Styles                    */
/*****************************************/

header {
   padding: 5%;
}

header form .container-header {
   padding: 2%;
}

header form .container-header input {
   display: block;
   margin: 0 auto;
}

/*****************************************/
/* 02. Accueil                           */
/*****************************************/

main .jobs-accueil img {
   display: block;
   margin: 0 auto;
}

main .jobs-accueil div {
   text-align: center;
}

main .jobs-accueil div ul {
   list-style-type: none;
   padding: 0;
}

/*****************************************/
/* 0. Media Queries                      */
/*****************************************/
/* Tablet 768px **************************/
@media (min-width: 768px) {

   header form .container-header {

      display: flex;
      justify-content: space-between;
   }
   
   header form .container-header input {
      margin: 0;
   }

   header form .form-control {
      width: 30%;
   }
   
   /* 01. Accueil ************************/
   main .jobs-accueil img {
      display: block;
      margin: 0 auto;
   }
}

/* Laptop 1024px *************************/
@media (min-width: 1024px) {

}

/* Laptop L 1440px ***********************/
@media (min-width: 1440px) {
   /* 01. Accueil ************************/
   header form .form-control {
      width: 15%;
   }
}