/* 
   Author: Pascal Berry
   Description: Master CSS file
*/

/*****************************************
Table Of Contents:

01. General Styles
0. Media Queries
******************************************/

/*****************************************
Colors:

- Background - White #FFFFFF
- Polices - Black #000000
******************************************/

/*****************************************/
/* 01. General Styles                    */
/*****************************************/

main {
   padding: 2%;
}

/*****************************************/
/* 0. Media Queries                      */
/*****************************************/
/* Tablet 768px **************************/
@media (min-width: 768px) {

}

/* Laptop 1024px *************************/
@media (min-width: 1024px) {

}

/* Laptop L 1440px ***********************/
@media (min-width: 1440px) {

}