{% extends 'base.html.twig' %}

{% block title %}Job It - Accueil{% endblock %}

{% block body %}
    <a href=""></a>
    <hr>
    <div>
        <img src="" alt="">
        <div>
            <p></p>
            <p></p>
            <div>
                <p>{{jobs.contrat}}</p>
                <p></p>
                <p></p>
            </div>
        </div>
    </div>
{% endblock %}
