{% extends 'base.html.twig' %}

{% block title %}Job It - Accueil{% endblock %}

{% block body %}

    {% for job in jobs %}
        <a href=""></a>
        <hr>
        <div>
            <img src="" alt="">
            <div>
                <p></p>
                <p></p>
                <ul>
                    <li>lol</li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    {% endfor %}
{% endblock %}
